:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.product-image {
  max-width: 450px;
  width: 100%;
}

.ratings span {
  color: #ffd700;
}

.add, .out {
  width: 180px;
}

.add, .out, .ratings, .card-text {
  margin: 0px 0px 15px 15px
}

img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}