:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.product-image {
  max-width: 450px;
  width: 100%;
}

.ratings span {
  color: #ffd700;
}

.add, .out {
  width: 180px;
}

.add, .out, .ratings, .card-text {
  margin: 0px 0px 15px 15px
}

img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 700px;
}

.checkout-steps > div {
  border-bottom: 0.3rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.3rem solid #c6a800;
  color: #c6a800;
}